h1{
    color: rgb(255, 255, 255);
    font-size: 24;
    text-shadow: 2px 2px black;
}

p{
    font-family: 'Catamaran', sans-serif;
    font-size: 16px;
    color:rgb(89, 89, 89);  
}

a:link{
    color:rgb(195, 107, 0);
}

a:visited{
    color: rgb(79, 47, 0);}

body{
    background-color: rgb(227, 223, 194);
    }

#desert img{
    border-style: inset;
    border-width: 10px;
    border-color:rgb(148, 148, 148);
    position: absolute; top: 175px; left: 250px;

}
