body{
background-color: lightgray;
}

h1{
    color: rgb(82, 82, 255);
    font-size: 24;
}

a:link{
    color:rgb(115, 255, 60);
}

a:visited{
    color: rgb(185, 42, 42);
}

p{
    font-family: 'Catamaran', sans-serif;
    text-indent: 50px;
    font-size: 16px;
    color:rgb(255, 138, 60);
    font-style:italic;
}

#fjordpic img{
    background-color: rgb(92, 212, 236);
    border-style: dashed;
    border-width: 10px;
    border-color:black;
    position: absolute; top: 75px; left: 310px;
    height: 400px;
    width: 800px;

}